#content {
    width: 800px;
    min-height: 500px;
    border: 1px solid black;
    padding: 20px;
}

#header {
    width: 800px;
    height: 110px;
    border: 1px solid black;
    background-color: #2a9055;
    text-align: center;
}
#header, #header a {
    color: #fff;
}

#header .links {
    font-size: 18px;
}

#footer {
    width: 800px;
    height: 50px;
    border: 1px solid black;
    background-color: #857b26;
    text-align: center;
    padding: 10px;
}